<table><h2>Performance Stages</h2>

<tr>
  <th>Stage</th>
  <th>Artist</th>
  <th>Start Time</th>
  <th>End Time</th>
</tr>
  <% @stages.each do |stage| %>
  <tr>
    <% stage.performances.each do |performance| %>
      <td> <%= stage.name %> </td>
      <td> <%= performance.artist.name %> </td>
      <td> <%= performance.start_time %> </td>
      <td> <%= performance.end_time %> </td>
    </tr>
    <% end %>
  <% end %>
</table>

<%#= render "common/nav_all" %>
