<h3>Artist Performances</h3>

<ul>
  <% @artists.each do |artist| %>
    <!-- <li><%= button_to artist.name, bookings_path %></li> -->
    <li><%= artist.performance.start_time if artist.performance%></li>
    <li><%= artist.performance.end_time if artist.performance %></li>
    <li><%= artist.stage if artist.stage %></li>
  <% end %>
</ul>

<%#= render "common/nav_all" %>
