<h3>Artist Performances</h3>

<ul>
  <% @artists.each do |artist| %>
    <h3><li><%= button_to artist.name, bookings_path %></h3></li>
    Starting: <%= artist.performance.start_time if artist.performance%><br>
    Ending: <%= artist.performance.end_time if artist.performance %><br>
    Stage: <%= artist.stage.name if artist.stage %><br />
  <% end %>
</ul>

<%#= render "common/nav_all" %>
