<h3>Performance Times</h3>

<ul>
  <% @performances.each do |performance| %>
    <li>Starts at: <%#= button_to performance.start_time, bookings_path %></li>
    <li>Ends at: <%= performance.end_time %></li>
  <% end %>
</ul>

<%#= render "common/nav_all" %>
