<table><h2>Performance Times</h2>

<tr>
  <th>Artist</th>
  <th>Stage</th>
  <th>Start Time</th>
  <th>End Time</th>
</tr>
  <% @performances.each do |performance| %>
<tr>
  <td> <%= performance.artist.name %> </td>
  <td> <%= performance.stage.name %> </td>
  <td> <%= performance.start_time %> </td>
  <td> <%= performance.end_time %> </td>
</tr>
  <% end %>
</table>

<%#= render "common/nav_all" %>
