<!DOCTYPE html>
<head>
  <style>
    
    p {
        /* text-align: center; */
        font-size: 18px; 
        margin: 30px; 
        padding: 20px; 
        background-color: rgba(255,255,255,0.5);
    }

    div {
        text-align: center;
        /* color: DeepSkyBlue;
        font-family: Alba Super;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    }

    h2 {
        color: DeepSkyBlue;
        font-family: Alba Super;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

  </style>
</head>

<body background="https://farm1.staticflickr.com/555/31548732961_6955712e56_b.jpg">

<p>The Governors Ball Music Festival (commonly known as Governors Ball or Gov Ball) is a multi-day music festival held on Randall's Island in New York City. Launched in 2011, the festival features an array of genres and styles of music, including rock, electronic, hip-hop, indie, Americana, pop, folk, and more. It is produced by Founders Entertainment, a festival promotion company based in New York City, which also produces The Meadows Music & Arts Festival. Aside from the wide variety of music, the festival features a multitude of popular New York restaurants and food trucks, as well as activities and games.</p>

<div>
  <% if logged_in? %>
    <%= link_to schedule_path(current_user.schedule.id), class: 'btn btn-primary btn-lg' do %>
      <i class="glyphicon glyphicon-music"></i> Go to your schedule
    <% end %>

  <% else %>
    <%= link_to login_path, class: 'btn btn-primary btn-lg' do %>
      <i class="glyphicon glyphicon-user"></i> Log In
    <% end %>
  <% end %>
</div>

</body>
</html>

